<nav class="mynav">  
  <span class="navleft">
    <a href="#" id="logo"><img src="./../images/gorilla-logo.png"/></a>
  </span>
  <span class="navcenter"><a ui-sref="home" id="brand" style="text-decoration: none; color: black;">*Shirt Brand*</a></span>
  <span class="navright">
    <a class="nav-link" ui-sref="cart"><img id="cart" src="./../images/basket.png"/></a>
    <a class="nav-link" style="text-decoration: none; color: black;" ui-sref="about">Our Story</a>
    <a class="nav-link" style="text-decoration: none; color: black;" ui-sref="products">Shop Now</a>
    
    
  </span>
</nav>